#top-area {grid-template-columns: 2fr 5fr 200px;}


#card-grid { width: 100%; padding: 20px;}
.card-element, #add-button { width: 70%; }

#set-button-container {grid-template-rows: 1fr 1fr;} /* desktop/mobile*/ 